@model Biblioteca.Models.Book

@{
    ViewData["Title"] = "Cadastrar Livro";
}

<div>
    <h1 class="text-center display-5">Cadastro de livro</h1>

    <form asp-action="New">
        <div class="form-group">
            <label asp-for="Title">Título:</label>
            <input type="text" class="form-control" asp-for="Title" placeholder="O Ladrão de Raios">
        </div>
        <div class="form-group">
            <label asp-for="ISBN">ISBN-13:</label>
            <input type="text" class="form-control" asp-for="ISBN" placeholder="978-8580575392">
            <small id="help" class="form-text text-muted">ISBN é um sistema internacional de identificação de livros e softwares que utiliza números para classificá-los por título, autor, país, editora e edição.</small>
        </div>
        <div class="form-group">
            <label asp-for="Author">Autor(es):</label>
            <input type="text" class="form-control" asp-for="Author" placeholder="Rick Riordan">
            <small id="help" class="form-text text-muted">Caso haja mais de um autor separe os nomes utilizando vírgula</small>
        </div>
        <div class="form-inline">
            <label asp-for="ReleaseYear">Ano:</label>
            <input type="number" max="2021" class="form-control ml-2" asp-for="ReleaseYear" placeholder="2005">
        </div>
        <div class="form-group mt-1">
            <label asp-for="Publisher">Editora:</label>
            <input type="text" class="form-control" asp-for="Publisher" placeholder="Intrínseca">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>